# Sacar el WoE y el IV de una serie

## Preambulo

In [20]:
import numpy as np
import pandas as pd
import random
from statistics import quantiles

In [44]:
df = pd.DataFrame([random.random() for x in range(200)], columns=["datos"])
df.head()

      datos
0  0.117271
1  0.193594
2  0.076600
3  0.266647
4  0.997662

In [ ]:
def percentile_analysis(feature, bins = 4):
    feature_copy = feature.copy()
    feature_copy = feature.to_frame()
    feature_copy["percentile {}".format(bins)] = np.nan
    cuartiles = quantiles(feature, n = bins)
    filtered = feature_copy.iloc[:, 0] < cuartiles[0]
    feature_copy.iloc[filtered, -1] = 1
    for i in range(len(cuartiles)-1):
        filtered = (feature_copy.iloc[:, 0] >= cuartiles[i]) & (feature_copy.iloc[:, 0] <= cuartiles[i+1])
        feature_copy.iloc[filtered, -1] = i+2
    filtered = feature_copy.iloc[:, 0] >= cuartiles[bins-2]
    feature_copy.iloc[filtered, -1] = bins
    return feature_copy

In [ ]:
df_1 = percentile_analysis(df.iloc[:, 0], i)
for i in range(4, 21):
    df_1 = percentile_analysis(df_1.iloc[:, 0], i)
print(df_1.head())

      datos  percentile 20
0  0.117271            3.0
1  0.193594            4.0
2  0.076600            2.0
3  0.266647            6.0
4  0.997662           20.0

In [79]:
df_1 = percentile_analysis(df_1.iloc[:, 0], 20)

In [80]:
df_1["percentile 20"].value_counts(dropna=False)

percentile 20
3.0     10
4.0     10
2.0     10
6.0     10
20.0    10
19.0    10
1.0     10
14.0    10
10.0    10
8.0     10
5.0     10
18.0    10
15.0    10
13.0    10
17.0    10
16.0    10
12.0    10
11.0    10
9.0     10
7.0     10
Name: count, dtype: int64

In [81]:
df_1.head()

      datos  percentile 20
0  0.117271            3.0
1  0.193594            4.0
2  0.076600            2.0
3  0.266647            6.0
4  0.997662           20.0

In [ ]:
df.head(10)

      datos  percentile 4
0  0.121066           NaN
1  0.573879           NaN
2  0.410453           NaN
3  0.919796           NaN
4  0.845092           NaN
5  0.064472           NaN
6  0.970992           NaN
7  0.466091           NaN
8  0.171045           NaN
9  0.065130           NaN

In [ ]:
df.head(10)

      datos  percentile 4
0  0.121066           NaN
1  0.573879           NaN
2  0.410453           NaN
3  0.919796           NaN
4  0.845092           NaN
5  0.064472           NaN
6  0.970992           NaN
7  0.466091           NaN
8  0.171045           NaN
9  0.065130           NaN

In [ ]:
pd.options.mode.copy_on_write = True

In [ ]:
df[df["datos"]<0.25591049700380614]["percentile 4"] = 1

D:\Users\USUARIO\AppData\Local\Temp\ipykernel_10884\4135689753.py:1: ChainedAssignmentError: A value is trying to be set on a copy of a DataFrame or Series through chained assignment.
When using the Copy-on-Write mode, such chained assignment never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy.

Try using '.loc[row_indexer, col_indexer] = value' instead, to perform the assignment in a single step.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["datos"]<0.25591049700380614]["percentile 4"] = 1

In [ ]:
df["percentile 4"] = np.nan
df.head()

      datos  percentile 4
0  0.121066           NaN
1  0.573879           NaN
2  0.410453           NaN
3  0.919796           NaN
4  0.845092           NaN

In [ ]:
df.iloc[:, 0]

0      0.121066
1      0.573879
2      0.410453
3      0.919796
4      0.845092
         ...
195    0.322960
196    0.305238
197    0.452419
198    0.137638
199    0.178249
Name: datos, Length: 200, dtype: float64

In [ ]:
quantiles(df.iloc[:, 0])

[0.25591049700380614, 0.5010849244788078, 0.7126991074510751]

In [ ]:
isinstance(df, pd.Series)

False